$font-family:'Geologica', sans-serif;
$font-general: 20px;
$font-footer: 15px;
$font-index: 50px;
$font-inspo: 50px;
$font-gallery:2.4rem;
$font-history:40px;
$font-history-subtitle:20px;
$font-contact: 20px;
